---
import ProjectCard from './ProjectCard.astro';
import { projects } from '../data/site';
---

<section class="pb-32 px-6">
  <div class="max-w-6xl mx-auto border-t border-white/10 pt-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-8 gap-y-16">
      {projects.map((project) => (
        <ProjectCard 
          title={project.title}
          category={project.category}
          image={project.image}
          link={project.link}
        />
      ))}
    </div>
  </div>
</section>
